* {
  margin: 0;
  padding: 0;
  /* border: 1px solid var(--primary-white); */
  box-sizing: border-box;
  color: var(--primary-white);
}

:root {
  /* Primary Colors */
  --primary-white: #fff;
  --primary-black: #000000;
}

body {
  height: 97vh;
  background-image: url("./assets/images/backgroundImg.jpg");
  background-size: cover;
  background-position: top;
}

.bannerDiv {
  display: flex;
}

header {
  width: 70%;
  font-size: 50px;
  padding-left: 30px;
  padding-top: 30px;
}

.bannerDivRight {
  padding-top: 45px;
  padding-left: 220px;

  width: 30%;
  display: flex;
  flex-direction: row;
}

input {
  color: var(--primary-black);
  padding: 3px;
  height: 25px;
}

button {
  color: var(--primary-black);
  padding: 3px;
  height: 25px;
}

.weatherData {
  height: 300px;
  color: var(--primary-white);
}
